<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="logFolder" value="C:\Users\mgouzee\Desktop\GITHUB FOLDER OF MIKA\Crawler\crawler\Crawler\Logs\list.txt"/>
      <add key="baseUrl" value="https://rpg.rem.uz" />
      <add key="SaveFolder" value="C:\Users\mgouzee\Desktop\Crawler\Crawler\Downloaded"/>
    </appSettings>
</configuration>