<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="logFolder" value="C:\Users\mgo\Desktop\Folder\Crawler\logs\log.txt"/>
    <add key="baseUrl" value="https://thetrove.net/Books/" />
    <add key="SaveFolder" value="C:\Users\mgo\Desktop\Folder\Crawler\pdfs"/>
  </appSettings>
</configuration>